<section class="slider_section">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="indicator_box">
            <div>
                <span>
                    01/
                </span>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
            </ol>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 offset-md-1">
                            <div class="detail-box">
                                <h1>
                                    Online Recruitment System<br>
                                </h1>
                                <div>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="img-box">
                                <img src="assets/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 offset-md-1">
                            <div class="detail-box">
                                <h1>
                                    Find a <br>
                                    Perfect job <br>
                                    for you
                                </h1>
                                <div>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="img-box">
                                <img src="assets/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 offset-md-1">
                            <div class="detail-box">
                                <h1>
                                    Find a <br>
                                    Perfect job <br>
                                    for you
                                </h1>
                                <div>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="img-box">
                                <img src="assets/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 offset-md-1">
                            <div class="detail-box">
                                <h1>
                                    Online Recruitment System
                                </h1>
                                <div>
                                    <a href="">
                                        Read More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="img-box">
                                <img src="assets/images/slider-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="sr-only">Next</span>
</a> -->
    </div>

</section>
